@()(implicit flash:Flash)

@import helper.twitterBootstrap._

@main("Redxplay") {

<article>
    <section>
        <div class="row">
            <div class="span12">
                <div id="status" class="alert alert-info">Status</div>
                <hr/>
                Tip: you can simulate a heavy load with "redis-benchmark -q -n 100000"
            </div>


            <div class="span3 alert alert-block">
                <h4>Information</h4>

                <p>Redis version: <span id="redis_version"></span></p>

                <p>Uptime: <span id="uptime_in_seconds"></span> seconds</p>

                <p>Uptime in days: <span id="uptime_in_days"></span></p>
            </div>

            <div class="span3 statusBox">
                <h4>CPU</h4>

                <p>Used CPU sys: <span id="used_cpu_sys"></span></p>

                <p>Used CPU user: <span id="used_cpu_user"></span></p>

                <p>Used CPU sys children: <span id="used_cpu_sys_children"></span></p>

                <p>Used CPU user children: <span id="used_cpu_user_children"></span></p>
            </div>


            <div class="span3 statusBox">
                <h4>Memory</h4>

                <p>Used memory human: <span id="used_memory_human"></span></p>

                <p>Used memory peak human: <span id="used_memory_peak_human"></span></p>

                <p>Fragmentation ratio: <span id="mem_fragmentation_ratio"></span></p>
            </div>

            <div class="clearfix"></div>

            <div id="graphred" class="span6">
            </div>

            <div id="graphmem" class="span6">
            </div>


            <div class="span12">
                <hr/>
                <button id="disconnect" class="btn btn-primary">Close the stream</button>
            </div>

            <div class="span12">
                <a href="@routes.Application.disconnect()" class="btn btn-danger">Disconnect from Redis</a>

            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</article>

<!-- Highchart -->
<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src='@routes.Assets.at("js/script.js")' type="text/javascript"></script>

<!-- Additional files for the Highslide popup effect -->
<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide-full.min.js"></script>
<script type="text/javascript" src="http://www.highcharts.com/highslide/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/highslide/highslide.css"/>
}