@(paramsForm:Form[RedisParameters])(implicit flash:Flash)

@import helper.twitterBootstrap._

@main("Redxplay") {

<article>
    <section>
        <div class="page-header"><h2>Where is your Redis server?</h2></div>
        <div class="row">
            <div class="span6">
                @helper.form(action = routes.Application.startSession) {
                @helper.inputText(paramsForm("hostname"))
                @helper.inputText(paramsForm("port"))
                @helper.inputText(paramsForm("auth"))
                <button class="btn btn-primary">Connect to Redis</button>
                }
            </div>
            <div class="span5">
                <h3>Configure properties</h3>
                <p>Connection settings can be configured in conf/application.conf</p>
                <h3>Don't have Redis installed?</h3>
                <p>You can install and launch a local redis server in 2 minuts.</p>
                <p>- <a href="http://redis.io/download">Download Redis </a>, unzip, start the server with "redis-server"</p>
                <p>- or install Redis with Homebrew, type "brew install redis" on Mac</p>
                <p>- or install Redis with "apt-get install redis" on Linux</p>
            </div>
        </div>
    </section>
</article>

}